name: Python Tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14' # Matches the version used in your code

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt -r requirements.txt

      - name: Run tests with pytest
        run: |
          # Use -v for verbose output to see individual test results
          PYTHONPATH=$PWD pytest -v tests/test_unit.py
